@tailwind base;
@tailwind components;
@tailwind utilities;

.navigate-push-enter {
    position: absolute;
    z-index: 1;
    transform: translateX(100%);
}

.navigate-push-enter-active {
    transform: translateX(0);
    transition: transform 300ms ease-in-out;
}

.navigate-push-enter-done {
    z-index: 0;
}

.navigate-push-exit {
    z-index: -1;
    transform: translateX(0);
}

.navigate-push-exit-active {
    transform: translateX(-100%);
    transition: transform 300ms ease-in-out;
}

.navigate-push-done {
}

.transition-wrapper {
    position: relative;
    width: 100vw;
}
